body {
    overflow-x: hidden;
}

.container {
    background-color: #BEBD7F;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 620px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #999;
}

.left_field {
   margin: auto
}

.box {
    padding: 10px;
}

.box > span {
    font-size: 30px;
    text-transform: uppercase;
}

.center_field {
    display: inline-block;
    vertical-align: middle;
    margin: auto
}
/*

.right_field {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}
*/

.cont {
    width: 840px;
    height: 600px;
}

#sky {
    width: 100%;
    height: 70%;
    position: relative;
    border-bottom: 1px solid black;
    background-color: aqua;
    overflow: hidden;
}

#ground {
    width: 100%;
    height: 30%;
    background-color: darkgreen;
}

.ground_house {
    width: 50%;
    height: 50%;
    margin: auto;
/*    background-color: blue;*/
}

.house_place {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
/*    background-color: blue;*/
}

.arrow {
    width: 100px;
    height: 100px;
    background-color: darkorange;
}

.arrow > button {
    display: block;
}

.arrow > button:first-child,
.arrow > button:last-child {
    margin: auto;
}

.arrow_left_right > button:last-child {
    float: right;
}

.floor_step {
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 0
}
.my_grid {
    position: absolute;
/*    background-color: red;*/
    bottom: 0;
    height: 180px
}

.step {
    box-sizing: border-box;
    width: 60px;
    height: 60px;    
    display: inline-block;
/*    border: solid 1px red;*/
    margin-left: -4px;
    margin-bottom: -4px;
    margin-top: -4px;
}

.step:hover {
    border: solid 1px yellow;
}

.fa-cloud {
    color: aliceblue;
}


.tree_place_1 {
    position: absolute;
    bottom: 0
}

.tree_place_2 {    
    position: absolute;
    bottom: 0;
    right: 0
}






